<!DOCTYPE html>
<html>

<head>
<title>Index Page</title>
<link href='./css/style.css' rel='stylesheet'>  <!-- path is relative from public -->
<link href='/css/style.css' rel='stylesheet'>  <!-- path is absolute  from public,START WITH FORWARD SLASH -->





</head>

<body>
    

    
   <div class="main-content">
        {{>headers}}
        <h1> <p>{{ errorMessage }}</p> </h1>

    </div>

    {{>footer}}


</body>


</html>