<!DOCTYPE html>
<html>

<head>
<title>Help Page</title>
<link rel="icon" href="/img/weather.png">
<link href='./css/style.css' rel='stylesheet'>  <!-- path is relative from public -->
<link href='/css/style.css' rel='stylesheet'>  <!-- path is absolute  from public,START WITH FORWARD SLASH -->
<script src='./js/app.js'></script>




</head>

<body>

    <div class="main-content">
        {{>headers}}

        
        {{ name }}
    </div>
    

    {{>footer}}
</body>


</html>