<!DOCTYPE html>
<html>

<head>
<title>Index Page</title>
<link rel="icon" href="/img/weather.png">
<link href='./css/style.css' rel='stylesheet'>  <!-- path is relative from public -->
<link href='/css/style.css' rel='stylesheet'>  <!-- path is absolute  from public,START WITH FORWARD SLASH -->




</head>

<body>

    <div class="main-content">
        {{>headers}}

        <form>
            <input type="text" placeholder="Kathmandu,Nepal">
            <button>Search</button>
        </form>

        <p id="message-1">  </p>
        <p id="message-2"> </p>


    </div>

    {{>footer}}

<script src='./js/app.js'></script>

</body>


</html>